<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>amm.nb.servlet.Login</servlet-class>
        <init-param>
            <param-name>loadOnStartup</param-name>
            <param-value>0</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Profilo</servlet-name>
        <servlet-class>amm.nb.servlet.Profilo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Bacheca</servlet-name>
        <servlet-class>amm.nb.servlet.Bacheca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Filter</servlet-name>
        <servlet-class>amm.nb.servlet.Filter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gruppo</servlet-name>
        <servlet-class>amm.nb.servlet.Gruppo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/M3/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profilo</servlet-name>
        <url-pattern>/M3/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Bacheca</servlet-name>
        <url-pattern>/M3/bacheca.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Filter</servlet-name>
        <url-pattern>/M3/filter.json</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gruppo</servlet-name>
        <url-pattern>/M3/gruppo.html</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/M3/descrizione.jsp</welcome-file>
    </welcome-file-list>
</web-app>
