body{
    background-color: rgb(137, 143, 155);
    font-family: "Trebuchet MS", sans-serif;
    color: black;
    margin: 5%;
    text-align: justify;
}
h1, h2, h3{
    color: white;
    font-family: "Century Gothic", sans-serif;
    text-align: center;
    font-weight: normal;
}
a:link, a:visited{
    font-family: "Century Gothic", sans-serif;
    text-decoration: none;
}
li > a, a{
    color: whitesmoke;
}
a:link:hover{
    color: orange;
    font-weight: bold;
}
a:after, a:before{
    content: ' ';
    white-space: pre;
}
input, textArea{
    border: none;
    border-radius: 5px;
}
input:focus, textArea:focus{
    background-color: gainsboro;
}
input, textArea{
    font-family: "Consolas", monospace;
}
li{
    list-style-type: none;
}
nav{
    height: 35px;
    background-color: rgb(37, 43, 55);
    border-radius: 10px;
    text-align: center;
}
nav a{
    font-size: 25px;
    color: white;
}
img#nb{
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}
.lista{
    color: white;
}
div#dati{
    width: 50%;
    background-color: rgb(37, 43, 55);
    border-radius: 10px;
    margin: auto;
    color: white;
}
div#dati form{
    padding: 5%;
}
div#dati label, div#dati input{
    width: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 1%;
}
button{
    background-color: gainsboro;
    border-radius: 5px;
    color: rgb(77, 83, 95);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
    border: none;
}
div#dati button{
    margin: 5%;
    width: 90%;
}
img.utente{
    width: 50px;
}
img.mini{
    width: 25px;
}
img.logout{
    width: 35px;
}
a.logout, img.logout{
    float: right;
}
div#info img{
    float: left;
    margin: 1%;
}
div#post div{
    background-color: rgb(97, 103, 115);
    border-radius: 10px;
    margin-bottom: 1%;
    padding: 1%;
}
div#info, div#conferma{
    background-color: rgb(97, 103, 115);
    border-radius: 10px;
}
div#info form, div#conferma div{
    padding-left: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 10%;
    color: white;
}
div#conferma img{
    display: block;
    margin: 1%;
}
div#info form label{
    width: 40%;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}
div#info form input, div#info form textArea{
    width: 50%;
    float: right;
    display: inline-block;
    margin: 1%;
    padding: 1%;
}
img.postpic{
    width: 70%;
    margin: 15%;
}
div#barraL button{
    width: 80%;
    margin: 10%;
}
div#barraL input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
}
div#post div.gr{
    background-color: whitesmoke;
}
div#post div.gr label{
    color: rgb(37, 43, 55);
    font-weight: bold;
}
div#post label{
    color: whitesmoke;
    font-weight: bold;
}
div#post div#insPost, div#post div#insPost div{
    background-color: rgb(57, 63, 75);
}
div#insPost form{
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
div#insPost input[type="url"], div#insPost textArea {
    width: 100%;
    padding: 1%;
}
div.tipou{
    float: right;
    display: inline-block;
}
div.tipoi{
    float: left;
    display: inline-block;
}
div#info button{
    display: inline-block;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
    margin-right: 1%;
}
div#info button{
    width: 48%;
}
div#insPost button.cpost{
    width: 100%;
    margin: auto;
}
div#insPost{
    color: white;
}
.errore{
    color: orange;
}
div.post p{
    color: white;
}
button#canc{
    float: right;
    display: inline-block;
}
button#crea{
    width: 100%;
}
button#agg{
    float: left;
    display: inline-block;
}
button.post[type="submit"]{
    width: 100%;
    margin: 1%;
}
p.negato{
    text-align: center;
}
.confermacancella{
    text-align: center;
}
@media only screen and (min-width: 1024px){
    div#barraL{
        width: 20%;
        float: left;
        background-color: rgb(57, 63, 75);
        border-radius: 10px;
        margin: 1%;
    }
    div#post, div#info, div#conferma{
        width: 75%;
        float: right;
        margin: 1%;
    }
    button.cancella, button.iscriviti{
        width: 40%;
        margin: auto;
        display: inline-block;  
    }
    a#nb{
        float: left;
    }
    button.aggiungi{
        width: 40%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 1024px)
{
    h1#nb, a#nb{
        display: none;
    }
    div#barraL{
        background-color: rgb(57, 63, 75);
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    div#barraL h1{
        text-align: left;
        margin: 1%;
    }
    div#ricerca h1{
        margin: 1%;
    }
    div#ricerca{
        width: 50%;
        float: right;
    }
    div#dati{
        width: 80%;
    }
    button.iscriviti, button.cancella, button.aggiungi{
        width: 50%;
    }
}
@media only screen and (max-width: 480px){
    a.logout, img.logout, a#nb, h1#nb{
        display: none;
    }
    div#info img{
        display: none;
    }
    div#info{
        text-align: left;
    }
    div#dati{
        width: 100%;
    }
    div#barraL{
        background-color: rgb(57, 63, 75);
        border-radius: 10px;
        margin-top: 1%;
        margin-bottom: 1%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
    }
    div#insPost form{
        padding: 5%;
    }
    button.cancella, button.iscriviti, button.aggiungi{
        width: 100%;
    }
}
/* le immagini inserite come pseudo elementi sono immagini puramente decorative
senza alcun valore semantico. sono state inserite delle immagini decorative
per l'inserimento dei post e per i campi login.
le altre immagini, come ad esempio la foto del profilo,
inserita nel documento html con tag img, hanno valore semantico legato alla bacheca
del social network */
#new:before{
    content: url("img/new.png");
    margin-right: 1%;
    margin-left: -4.5%;
}
label[for="username"]:before{
    content: url("img/o.png");
    margin: 1%;
}
div#dati label[for="password"]:before{
    content: url("img/k.png");
    margin: 1%;
}
div#insPost label[for="stato"]:before{
    content: url("img/tt.png");
    margin: 1%;
}
div#insPost label[for="link"]:before{
    content: url("img/graff.png");
    margin: 1%;
}
div#insPost p strong.omino:before{
    content: url("img/omino.png");
    margin-right: 1%;
    margin-left: -6.5%;
}
div#insPost p strong.msg:before{
    content: url("img/msg.png");
    margin-right: 1%;
    margin-left: -6.5%;
}