/*task 3*/
body{
    background-color: rgb(37, 43, 55);
    font-family: "Consolas", sans-serif;
    color: seashell;
    margin: 1%;
}
p{
    text-align: justify;
    margin: 1%;
}
h1, h2, h3{
    text-align: left;
    font-family: "Trebuchet MS", sans-serif;
    color: #ff6600;
}
a:link, a:visited{
    font-family: "Courier New", monospace;
    color: white;
    text-decoration: none;
}
a:link:hover{
    font-weight: bold;
}
h1#nb{
    font-family: "Consolas", monospace;
    font-size: 21px;
    margin: 0%;
    margin-left: 1%;
    float: left;
    color: gainsboro;
}
nav{
    font-family: monospace;
    background-color: rgb(77, 83, 95);
    text-align: center;
    font-size: 21px;
}
a::after, a::before{
    content: ' ';
    white-space: pre;
}
li{
    list-style-type: none;
}
input:focus, textArea:focus{
    background-color: lightgoldenrodyellow;
}
button{
    width: 100%;
    margin-top: 5%;
    background-color: whitesmoke;
    border-radius: 5px;
    color: rgb(77, 83, 95);
    font-family: "Trebuchet MS", sans-serif;
    font-weight: bold;
}
.logout{
    float: right;
    margin: 0%;
}
img.logout{
    width: 25px;
}
/*task 4 e 5*/
div#post div{
    margin: 1%;
    padding: 0.1%;
    margin-right: 0%;
    border-radius: 5px;
}
div#post div{
    background-color: gainsboro;
    color: rgb(77, 83, 95);
}
div#post div label, div#post div a{
    color: rgb(77, 83, 95);
}
div#post div.gr, div#post div.gr label{
    background-color: #888888;
    color: seashell;
}
div#post div#insPost label, div#post div#insPost p, div#post div#insPost a{
    color: seashell;
}
div#info{
    margin: 0.7%;
    background-color: slategray; 
    text-align: left;
    width: 84%;
    margin-right: 0%;
    border-radius: 5px;
}
div#info img{
    float: left;
    margin: 1%;
}
div#persone, div#gruppi{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(77, 83, 95);
    border-radius: 5px;
    padding: 5%;
}
label{
    font-weight: bold;
    color: whitesmoke;
    font-family: "Trebuchet MS", sans-serif;
}
div#info label, div#dati label{
    margin: 1%;
    text-align: left;
    width: 40%;
}
div#info label{
    display: inline-block;
}
div#info input, div#info textArea{
    float: right;
    width: 50%;
    margin-top: 0.5%;
}
div#info form{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
}
div#dati form{
    padding: 10%;
}
div#dati{
    width: 35%;
    background-color: rgb(77, 83, 95);
    margin: auto;
    border-radius: 5px;
}
div#dati input{
    width: 100%;
}
h1#Ltitle{
    text-align: center;
}
input, textArea{
    border-radius: 5px;
    font-family: "Consolas", monospace;
    font-weight: bold;
    color: rgb(37, 43, 55);
}
.utente{
    margin-left: 1%;
    width: 50px;
}
.proPic{
    width: 50px;
}
.postpic{
    width: 30%;
    position: relative;
    right: 35%;
    left: 35%;
}
div#post div#insPost, div#post div#insPost div{
    background-color: rgb(77, 83, 95);
}
/*task 6*/
@media only screen and (min-width: 1024.1px) /* da 1024 in poi: layout a due colonne*/
{
    h1#nb, a{
        display: inline-block;
    }
    div#post{
        width: 85%;
        float: right;
    }
    div#info{
            float: right;
            margin-top: 0.9%;
        }
    div#barraL{ /*sidebar*/
        width: 15%;
        margin-top: 0.7%;
        float: left;
    }
    div#insPost{
        border-radius: 5px;
        margin-top: 0.7%;
    }
    div#insPost > form{
        padding-right: 30%;
        padding-left: 30%;
        padding-bottom: 0.5%;
    }
    div.tipou{
        float: right;
        display: inline-block;
        width: 70%;
    }
    div.tipoi{
        display: inline-block;
    }
    div#conferma{
        float: right;
    }

}
.post{
    width: 49%;
    display: inline-block;
}
div#conferma{
    margin-top: 0.9%;
    width: 84%;
    background-color: rgb(77, 83, 95);
    border-radius: 5px;
}
div#conferma p.dati, div#conferma div{
    padding-left: 10%;
    padding-right: 10%;
}
strong{
    font-family: "Trebuchet MS", sans-serif;
}
img#profilo{
    display: block;
    margin-top: 1%;
    width: 50px;
}
div#conferma div{
    padding-top: 1%;
    padding-bottom: 1%;
}
div#errati{
    padding-bottom: 5%;
}
@media only screen and (min-width: 0px) and (max-width: 1024px) /*da 0 a 480, da 480 a 1024 una sola colonna*/
{
    div#conferma{
        margin: auto;
    }
    .logout{
        display: none;
    }
    div#insPost > form{
        padding: 5%;
    }
    div#post{ /*contenitore bacheca*/
        width: 85%;
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    div#post div{
        margin: 0.5%;
        margin-top: 1%;
    }
    div#barraL{
        width: 84%;
    }
    div#barraL, div#insPost{
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color: rgb(77, 83, 95);
        border-radius: 5px;
    }
    div#persone, div#gruppi{
        margin-bottom: 1%;
        padding: 0.5%;
        width: 30%;
        display: inline-block;
        background: none;
    }
    div#info{
        margin: auto;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    h1#nb, div#info img{ 
        display: none;
    }
    div#info form{
        padding: 1%;
    }
    div#gruppi{
        position: relative;
        right: 10%;
        float: right;
    }
    div#persone{
        position: relative;
        left: 10%;
    }
    div#barraL h2{
        text-align: center;
    }
}
.mini{
    margin-right: 5%;
    width: 25px;
}
div#insPost div{
    margin: 1%;
}
div#insPost input[type="url"], div#insPost textArea{
    width: 100%;
}
img#nb, h1#Dtitle{
    display: inline-block;
}
img#bn, h1#Ltitle{
    display: inline-block;
    position: relative;
    left: 42%;
    right: 42%;
}
div#barraL a, div#post a{
    font-family: "Trebuchet MS", sans-serif;
}
/* le immagini inserite come pseudo elementi sono immagini puramente decorative
senza alcun valore semantico. sono state inserite delle immagini decorative
a fianco al titolo login, lista di persone, lista di gruppi, titolo nella nav.
le altre immagini, come ad esempio la foto del profilo,
inserita nel documento html con tag img, hanno valore semantico legato alla bacheca
del social network */
h1#nb:before{
    content: url("img/logom.png");
}