/*task 3*/
body{
    text-align: justify;
    margin: 10px;
    background-color: rgb(237, 243, 255);
    font-family: "Helvetica", Arial, sans-serif;
    color: #003366;
}
p{
    text-align: justify;
    margin: 5px;
}
h1, h2, h3{
    text-align: left;
    font-family: "Trebuchet MS", "Courier New", sans-serif;
    color: #ff6600;
}
a:link, a:visited{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #ff7f3f;
    text-decoration: none;
}
a:link:hover{
    font-weight: bold;
    font-size: 20px;
}
/*task 4*/
nav{
    background-color: antiquewhite; 
    text-align: center;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}
a::after, a::before{
content: ' ';
white-space: pre;
}
img#propic{
    width: 50px;
    height: 50px;
}
li{
    list-style-type: none;
}
/* ok fino a qui*/
div#post, div#info{
    float: right;
    width: 500px;
    margin-right: 400px;
}
    /*bacheca, post*/
div#post div, div#persone, div#gruppi{
    border: 1px solid #ff7f3f;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: blanchedalmond;
}
div#post div{
    background-color: #99ccff;
}
div#post div label{
    font-weight: bold;
    color: #ff3300; 
}
div#post div p img{
   width: 276px;
   height: 77px;
   padding-right: 112px;
   padding-left: 112px;
   padding-top: 5px;
   padding-bottom: 5px;
}
div#barraL{
    width: 300px;
    margin-right: 500px;
    margin-left: 100px;
}
/*task 5*/
form{
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div#info{
    background-color: #99ccff;
}
div#dati{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #99ccff;
}
div#info form div label{
    text-align: left;
    display: inline-block;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
}
div#info form div input, div#info form div textArea{
    display: inline-block;
    float: right;
}
textArea
{
    height: 21px;
    width: 167px;
}
input[type="date"]{
     height: 21px;
     width: 168px;
}
input:focus, textArea:focus{
    background: antiquewhite;
    border-color: rgb(237, 243, 255);
}
h1#Ltitle, h1#Ptitle, h1#Wtitle{
    text-align: center;
}
div#dati button, div#info button{
    background-color: antiquewhite;
    width: 100%;
    margin-top: 5%;
}
/* Sono state inserite delle immagini decorative prive di significato semantico
prima di alcuni titoli*/
/* le immagini inserite come pseudo elementi sono immagini puramente decorative
senza alcun valore semantico. le altre immagini, come ad esempio la foto del profilo,
inserita nel documento html con tag img, hanno valore semantico legato alla bacheca
del social network */
h1#Ltitle:before{
    content: url("img/logo.png");
    margin-right: 10px;
}
h1#nb:before{
    content: url("img/occhiali.png");
    margin-right: 10px;
}
div#persone ul li:before{
    /*sistemare le icone lista*/
}
div#gruppi ul li:before{
    /*sistemare le icone lista*/
}